# Ignore directories
__pycache__
build
.vscode
testing
Icon
dist

# Ignore directory but not outside (you need a gitkeep file)
databases/*
!databases/.gitkeep

# Ignore files
config.ini
testing.py
MyApplication.spec
main.spec
export.csv
main.spec
ui_mainwindow.py
