# Ignore directories
__pycache__
build
.vscode
testing
Icon

# Ignore inside directory (you need a gitkeep file)
databases/*
!databases/.gitkeep
# Ignore files
config.ini
testing.py
main.spec
export.csv
