# Ignore directories
__pycache__
build
.vscode
testing
Icon
dist
pyinstaller
__build__
old_versions

# Ignore directory but not outside (you need a gitkeep file)
resources/data*
!resources/data/.gitkeep

# Ignore files
config.ini
build.sh
run.sh
testing.py
.DS_Store
MyApplication.spec
main.spec
export.csv
main.spec
ui_mainwindow.py
resources/settings/config.ini
