altgraph==0.17
appnope==0.1.2
backcall==0.2.0
click==7.1.2
configparser==5.0.1
decorator==4.4.2
greenlet==1.0.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jupyter-client==6.1.11
jupyter-core==4.7.1
lorem-text==1.5
lxml==4.6.3
macholib==1.14
MarkupSafe==1.1.1
numpy==1.20.2
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.14
ptyprocess==0.7.0
Pygments==2.7.4
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyPDF2==1.26.0
pyqss==1.3.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.12.0
PySide2==5.15.2
python-dateutil==2.8.1
pyzmq==22.0.2
QScintilla==2.12.1
qtwidgets==0.18
shiboken2==5.15.2
six==1.15.0
SQLAlchemy==1.3.23
Toggle==1.1.3
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
